# Exercises 41-50:

# Exercise 41: 
Capitalize each world in a given string.

Method 1:

In [436]:
h = "hello world fgt"

def solve(s):
    a = s.split(' ')
    b = []
    for i in range(len(a)):
        k = a[i].capitalize()
        b.append(k)
    c = ' '.join(b)
    return c

solve(h)

'Hello World Fgt'

Method 2:

In [445]:
g = h.split(' ')
a = list(map(str.capitalize, g))
' '.join(a)

'Hello World Fgt'

# Exercise 42: 

Collections - Counter:

Given the number of shoes in the store, and the tuples with a size and a price, calculate the total sum of the sold shoes. Use "Counter" from "collections".

In [2]:
from collections import Counter

# List of shoe sizes in the store.
list_shoes = [2, 3, 4, 5, 6, 8, 7, 6, 5, 18]

# List of tuples, with (size, price) format.
k=[(6,55), (6,45), (6,55), (4,40), (18,60), (10,50)]

cc = Counter(list_shoes)
sum = 0
for i in k:
    for j in cc.keys():
        p = i[0]
        if p == j and cc[j] != 0:
            sum = sum + i[1]
            cc[j] = cc[j] - 1
            
print(sum)

200

# Exercise 43: 

Minion game:

Find who will win the game and print his final score. Given a string, count all points for all possible substrings starting with any consonant (Stuart's points), then count all points for all possible substrings starting with any vowel (Kevin's points). Print the winner and his total number of points.

1st version:

In [6]:
def minion_game(string):

    vow = list('AEIOU')
    sumStuart = 0
    sumKevin = 0
    
    for idx, val in enumerate(string):
        k = len(string[idx:])
        if val in vow:
            sumKevin = sumKevin + k
        else:
            sumStuart = sumStuart + k
            
    if sumStuart > sumKevin:
        print("Stuart", sumStuart)
    elif sumStuart < sumKevin:
        print("Kevin", sumKevin)
    else:
        print("Draw")

In [8]:
p='BANANA'
minion_game(p)

Stuart 12

2nd version (with numpy arrays, which make the computations faster):

In [451]:
import numpy as np

def minion_game(string):

    vow = list('AEIOU')
    sumStuart = 0
    sumKevin = 0

    st = np.array(list(string))
    
    for idx, val in enumerate(st):
        k = len(st[idx:])
        if val in vow:
            sumKevin = sumKevin + k
        else:
            sumStuart = sumStuart + k
            
    if sumStuart > sumKevin:
        print("Stuart", sumStuart)
    elif sumStuart < sumKevin:
        print("Kevin", sumKevin)
    else:
        print("Draw")

In [11]:
d = 'BANANA'
minion_game(d)

Stuart 12

3rd version (using itertools):

In [14]:
import itertools

def minion_game(string):

    vow = list('AEIOU')

    sumStuart = 0
    sumKevin = 0

    # Create all possible substrings.
    substrings = [''.join(string[i:j]) for i, j in itertools.combinations(range(len(string) + 1), 2)]

    for k in substrings:
        if k[0] in vow:
            sumKevin = sumKevin + 1
        else:
            sumStuart = sumStuart + 1
            
    if sumStuart > sumKevin:
        print("Stuart", sumStuart)
    elif sumStuart < sumKevin:
        print("Kevin", sumKevin)
    else:
        print("Draw")

In [16]:
s = 'BANANA'
minion_game(s)

Stuart 12

# Exercise 44: 

Collections - namedtuple:

Practice 'namedtuples' from 'collections'.

In [19]:
from collections import namedtuple

N = 5
Student = namedtuple('Student', 'id name age')
std = Student(1, 'ala', 23)
p = std.age
p

23

# Exercise 45: 
Define a function that chooses all substrings (of length k) of a given string (of length n*k). The function should print substrings with distinct letters only.

In [22]:
def merge_the_tools(string, k):
    
    n = len(string)
    
    for i in range(0, n, k):
        g = string[i:i+k]
        print(g)

# This function is not finished: the functionality to print substrings with distinct letters is not implemented.

In [24]:
string = 'AABCDFABA'
k = 3

In [26]:
merge_the_tools(string, k)

AAB
CDF
ABA

# Exercise 46:
Calculate the time difference between 2 given dates.

This task is not finished.

In [298]:
s = '+0730'
t = '-0000'

In [306]:
if s == t:
    delta_5 = 0
else:
    op_x = s[0]
    op_y = t[0]
    h_x = int(s[1:3])
    h_y = int(t[1:3])
    min_x = int(s[3:5])
    min_y = int(t[3:5])
    delta_5 = (h_x-h_y)*3600 + (min_x-min_y)*60
    if op_x == '+':
        delta_5 = -delta_5
    else:
        pass

delta_5

-27000

In [384]:
dict = {'Jan': 31, 'Feb': 28, 'Mar': 31, 'Apr': 30, 'May': 31,
        'Jun': 30, 'Jul': 31, 'Aug': 31, 'Sep': 30, 'Oct': 31, 'Nov': 30, 'Dec': 31}

u = 'Sep'
w = 'May'

x = dict[u]

y = dict[w]
set_few = list(dict.keys())
set_few

dict[u]

30

# Exerciese 47:

Regex:

Find if a given expression is regex or not.

In [31]:
import re

def solve(regex):
    try:
        if re.search(r'(\*|\+|\?){2,}', regex):
            return False
        re.compile(regex)
        return True
    except re.error:
        return False

In [33]:
s = '.\*'
solve(s)

<>:1: SyntaxWarning: invalid escape sequence '\*'
<>:1: SyntaxWarning: invalid escape sequence '\*'
/var/folders/kl/39xdwtqn4bddbymh1fznlrh40000gp/T/ipykernel_93142/3902766036.py:1: SyntaxWarning: invalid escape sequence '\*'
  s = '.\*'

True

# Exercise 48:

Itertools - product:

Find the maximal value of the function $S=(x_1^2+x_2^2+x_3^2+x_4^2)\% M$, where each $x_i$ is taken from different sets. Find such a combination of $x_i$ that $S$ is max.

In [40]:
import itertools as it

a = {1, 7, 3}
b = {4, 5, 3, 1}
c = {4, 7, 1, 9}
d = {4, 7}

t = [a, b, c, d]

arr = []
M = 1000

for k in list(it.product(*t)):
    h = 0
    for l in k:
        h += l**2
    h = h%M
    arr.append(h)

print(max(arr))

204

# Exercise 49

Palindromic triangle:

Print the triangle of numbers in palindromic way. Use only one command of "print" and do not use and string related objects in the print function.

In [47]:
size = 7
for i in range(1, size):
    print(pow(sum(list(map(lambda x: pow(10, x), list(range(0, i))))), 2))

TypeError: 'int' object is not callable

# Exercise 50:

Making a function to be executable:

Convert the name of the function to an executive function and perform some operations on sets.

In [54]:
A = {1, 2, 3, 5, 10, 15}
B = {1, 3, 5, 6, 11}

func_name = 'intersection_update'

getattr(A, func_name)(B)

print(A)

{1, 3, 5}

In [56]:
a = [2, 4]
b = [6, 7]

c = [a] + [b]
list(zip(*c))

[(2, 6), (4, 7)]