# Exercises 11-20

# Exercise 11: Time conversion  from 12-hour to 24-hour system.

In [4]:
def timeConversion(s):
    # Write your code here
    if s[:2] == "12" and s[-2:] == "AM":
        return "00" + s[2:-2]
    elif s[:2] != "12" and s[-2:] == "AM":
        return s[:-2]
    elif s[:2] == "12" and s[-2:] == "PM":
        return "12" + s[2:-2]
    else:
        k = int(s[:2]) + 12
        p = str(k)
        return p + s[2:-2]

In [6]:
timeConversion("12:03:06AM")

'00:03:06'

# Exrecise 12: Printing "Buzz"

In [9]:
n=25

for i in range(1,n+1):
    if i%3==0 and i%5==0:
        print("FizzBuzz", "\t")
    elif i%3==0:
        print("Fizz \t")
    elif i%5==0:
        print("Buzz \t")
    else:
        print(i, "\t")

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz

# Exercise 13: Centering a word with adding dots

In [38]:
w = [12,13,14]
c = ['alan','piotr','ewa']
len(c)

3

In [40]:
def centerDisplay(width, content):
    
    for i in range(len(content)):
        k = str(content[i])
        c = len(k)
        h = width[i] - c
        dot = "."
        if h%2==0:
            p=h/2
            p=int(p)
            left = p*dot
            right = p*dot
            k = left + k + right
            print(k)
        else:
            g=h-1
            p=g/2
            p=int(p)
            left = (p+1)*dot
            right = p*dot
            k= left +k + right
            print(k)

In [42]:
centerDisplay(w,c)

....alan....
....piotr....
......ewa.....

# Exercise 14: Grouping anagrams

Group words into 2 separate lists so that they contain the same set of letters.

In [49]:
anag = ['car','rac','arc','tara','rata']
anag

['car', 'rac', 'arc', 'tara', 'rata']

In [70]:
h = []
l = []
for i in range(len(anag)):
    sorted_string = sorted(list(anag[i]))
    joined_string = "".join(sorted_string)
    if i == 0:
        h.append(anag[i])
    else:
        l.append(anag[i])
print(h,l)

['car'] ['rac', 'arc', 'tara', 'rata']

In [ ]:
#
#
#
#
#
#
#
#

# Exercise 15: Calculating maximal number of 1's in a binary representation of a given number.

In [170]:
n = 5

In [172]:
b = bin(n)[2:]
b

'101'

In [178]:
k = 0
t = []
for i in range(len(b)):
    if b[i] == '1':
        k = k + 1
        t.append(k)
        print(t)
    else:
        k = 0
        t.append(k)
        print(t)
t.sort(reverse = True)
print(t)
t[0]

[1]
[1, 0]
[1, 0, 1]
[1, 1, 0]

1

# Exercise 16: Hourglass - sum of elements in 2D subarray

In [321]:
A = [[1,1,1,0,0,0], 
     [0,1,0,0,0,0], 
     [1,1,1,0,0,0], 
     [0,0,0,0,0,0], 
     [0,0,0,0,0,0], 
     [0,0,0,0,0,0]]

In [323]:
A[0][5]

0

In [339]:
rows, columns = len(A), len(A)

arr = []
for i in range(rows-2):
    for j in range(columns-2):
        sum = A[i+1][j+1]
        for k in range(3):
            sum = sum + A[i][j+k] + A[i+2][j+k] 
        arr.append(sum)
print(arr)

[7, 4, 2, 0, 2, 2, 0, 0, 3, 2, 1, 0, 0, 0, 0, 0]

# Exercise 17: Inheritance of a class

In [414]:
class Person:
	def __init__(self, firstName, lastName, idNumber):
		self.firstName = firstName
		self.lastName = lastName
		self.idNumber = idNumber
	def printPerson(self):
		print("Name:", self.lastName + ",", self.firstName)
		print("ID:", self.idNumber)

In [420]:
class Student(Person):
    
    def __init__(self, firstName, lastName, idNumber, scores):

        super().__init__(firstName, lastName, idNumber)
        
        self.scores = scores

    def printPerson(self):
        super().printPerson()

    def calculate(self):
        sum = 0
        d = len(self.scores)
        for i in range(d):
            sum = sum + self.scores[i]
        
        avg = sum/d

        if 90 <= avg <= 100:
            return str("O")
        elif 80 <= avg < 90:
            return str("E")
        elif 70 <= avg < 80:
            return str("A")
        elif 55 <= avg < 70:
            return str("P")
        elif 40 <= avg < 55:
            return str("D")
        else:
            return str("T")

In [424]:
studencik = Student("Adam", "Marzec", 556655, [4,56,90])
print("Grade:", studencik.calculate())

Grade: D

# Exercise 18: Abstract class

In [462]:
from abc import ABCMeta, abstractmethod

class Book(object, metaclass=ABCMeta):
    def __init__(self,title, author):
        self.title = title
        self.author = author   
    @abstractmethod
    def display(): 
        pass

In [464]:
class MyBook(Book):
    def __init__(self, title, author, price):
        super().__init__(title, author)
        self.price = price

    def display(self):
        print("Title:", self.title)
        print("Author:", self.author)
        print("Price:", self.price)

In [466]:
book = MyBook("Amanda", "Greg Goliat", 30)
book.display()

Title: Amanda
Author: Greg Goliat
Price: 30

# Exercise 19: 

List comprehensions

Write all combinations of integers (i,j,k) in ranges (x,y,z), respectively, so that the condition $i+j+k \neq n$ is satisfied.

In [445]:
x = 1
y = 1
z = 1
n = 2

In [447]:
a = [[i,j,k] for i in range(x+1) for j in range(y+1) for k in range(z+1) if i+j+k != n]

print(a)

[[0, 0, 0], [0, 0, 1], [0, 1, 0], [1, 0, 0], [1, 1, 1]]

# Exercise 20: 
Find the second biggest (runner-up) element of an array $A$.

In [456]:
arr = [2,2,3,7,7,4,9,8,11]

In [458]:
new_arr = list(set(arr)) 
# to find unique values of the list, we first convert it to a set, and then again to a list

new_arr.sort(reverse=True)
print(new_arr[1])

9